@page "/"
<style>
    .center {
        margin: 5% auto;
        width: 80%;
        text-align:center;
    }

    .title {
        font-family: Tahoma;
        font-size: 24px;
        color: darkgray;
        font-weight: 500;
    }

    .subtitle {
        font-size: 17px;
        color: #888;
    }
</style>

<PageTitle>RPC Blazor Samples</PageTitle>

<div class="center">
    <p class="title">RPC Blazor Samples, gRPC and signalR</p>
    <hr />
    <img src="images/grpc.png" class="img-fluid" />
    <hr />
    <p class="subtitle">A brief demo of using gRPC in Blazor WebAssembly and a parallel with SignalR.</p>
</div>
